<nav
  class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"
></nav>
<div class="container">
  <table class="table align-middle mb-0 bg-white table-hover">
    <thead class="">
      <tr>
        <th>#</th>
        <th>Code</th>
        <th>Quantity</th>
        <th>Total Price</th>
        <th>Number Phone</th>
        <th>Order Date</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr
        onclick="window.location='#detail-bill'"
        ng-repeat="order in listBill"
      >
        <td>
          <p class="fw-normal mb-1">{{$index}}</p>
        </td>
        <td>
          <p class="fw-normal mb-1">{{order.code}}</p>
        </td>

        <td>
          <p class="fw-normal mb-1">{{order.quantity}}</p>
        </td>
        <td>
          <p class="fw-normal mb-1 text-danger">{{order.totalPrice}}.00đ</p>
        </td>
        <td>
          <p class="fw-normal mb-1">{{order.phoneNumber}}</p>
        </td>
        <td>
          <p class="fw-normal mb-1">{{order.orderDate}}</p>
        </td>
        <td>
          <span
            class="badge badge-warning rounded-pill d-inline"
            ng-if="order.status == 0"
            >Wait for confirmation</span
          >
          <span
            class="badge badge-success rounded-pill d-inline"
            ng-if="order.status == 4"
            >Succes</span
          >
          <span
            class="badge badge-success rounded-pill d-inline"
            ng-if="order.status == 5"
            >Received</span
          >
          <span
            class="badge badge-primary rounded-pill d-inline"
            ng-if="order.status == 1"
            >Prepare</span
          >
          <span
            class="badge badge-info rounded-pill d-inline"
            ng-if="order.status == 3"
            >delivering</span
          >
          <span
            class="badge badge-danger rounded-pill d-inline"
            ng-if="order.status == 5"
            >Cancel</span
          >
        </td>
      </tr>
    </tbody>
  </table>
</div>
