<nav
  class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"
>
  <div class="container">
    <div class="row">
      <div class="col-3">
        <div class="mb-3 row">
          <label for="inputPassword" class="col-sm-3 col-form-label"
            >Status</label
          >
          <div class="col-sm-9">
            <select
              class="form-select"
              aria-label="Default select example"
              ng-model="formSearch.stauts"
            >
              <option value="5" selected>All</option>
              <option value="0">Waiting</option>
              <option value="1">Prepare</option>
              <option value="2">Delivering</option>
              <option value="3">Succes</option>
              <option value="4">Cancel</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="mb-3 row">
          <label for="inputPassword" class="col-sm-2 col-form-label"
            >Start</label
          >
          <div class="col-sm-10">
            <input
              class="form-control me-2"
              type="date"
              placeholder="date"
              aria-label="date"
              ng-model="formSearch.startDate"
            />
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="mb-3 row">
          <label for="inputPassword" class="col-sm-2 col-form-label">End</label>
          <div class="col-sm-10">
            <input
              class="form-control me-2"
              type="date"
              placeholder="date"
              aria-label="date"
              ng-model="formSearch.endDate"
            />
          </div>
        </div>
      </div>
      <div class="col-3">
        <form class="d-flex" role="search">
          <input
            class="form-control me-2"
            type="search"
            placeholder="code or phone"
            aria-label="Search"
          />
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </div>
</nav>
<div class="container">
  <table class="table align-middle mb-0 bg-white table-hover mb-4">
    <thead class="">
      <tr>
        <th>#</th>
        <th>Code</th>
        <th>Quantity</th>

        <th>Number Phone</th>
        <th>Order Date</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-click="redirectToDetail(order.id)" ng-repeat="order in listBill">
        <td>
          <p class="fw-normal mb-1">{{order.id}}</p>
        </td>
        <td>
          <p class="fw-normal mb-1">{{order.code}}</p>
        </td>

        <td>
          <p class="fw-normal mb-1">{{order.quantity}}</p>
        </td>
        <td>
          <p class="fw-normal mb-1">{{order.phoneNumber}}</p>
        </td>
        <td>
          <p class="fw-normal mb-1">{{order.orderDate}}</p>
        </td>
        <td>
          <span
            class="badge badge-warning rounded-pill d-inline"
            ng-if="order.status == 0"
            >Waiting</span
          >
          <span
            class="badge badge-success rounded-pill d-inline"
            ng-if="order.status == 3"
            >Succes</span
          >
          <span
            class="badge badge-primary rounded-pill d-inline"
            ng-if="order.status == 1"
            >Prepare</span
          >
          <span
            class="badge badge-info rounded-pill d-inline"
            ng-if="order.status == 2"
            >delivering</span
          >
          <span
            class="badge badge-danger rounded-pill d-inline"
            ng-if="order.status == 4"
            >Cancel</span
          >
        </td>
      </tr>
    </tbody>
  </table>

  <nav aria-label="Page navigation example" ng-if="listBill.length > 0">
    <ul class="pagination justify-content-end">
      <li class="page-item">
        <a class="page-link text-dark" ng-click="setPage( currentPage - 1)"
          >Previous</a
        >
      </li>
      <li class="page-item">
        <a class="page-link text-dark">{{currentPage + 1}}</a>
      </li>
      <li class="page-item">
        <a class="page-link text-dark" ng-click="setPage(currentPage + 1)"
          >Next</a
        >
      </li>
    </ul>
  </nav>
</div>
