.footer {
  background: #111111;
  padding: 70px 0px 50px 0px;
}
.footer a {
  text-decoration: none;
}
.footer-about .footer-logo {
  margin-bottom: 30px;
}
.footer .footer-about {
  color: #b7b7b7;
  margin-bottom: 30px;
}
/*  */
.footer .footer-shopping {
  margin-bottom: 30px;
}
.footer .footer-shopping h6 {
  color: #ffffff;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 20px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.footer .footer-shopping ul,
li {
  padding: 0;
  list-style: none;
  margin: 0;
}
.footer .footer-shopping ul li a {
  color: #b7b7b7;
  font-size: 15px;
}
.footer .footer-shopping .footer-mail {
  color: #b7b7b7;
}
/*  */
