<!-- user -->
<section class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-9">
        <!-- Checkout -->
        <div class="card shadow-0 border">
          <div class="p-4">
            <h5 class="card-title mb-3">Customer Information</h5>
            <div class="row">
              <div class="col-12 mb-3">
                <p class="mb-0 fw-bold">
                  {{customer.lastName}} {{customer.firstName}}
                </p>
              </div>

              <div class="col-12 mb-3">
                <span
                  >phone: (+84){{customer.phoneNumber}}, email:
                  {{customer.email}}</span
                >
              </div>

              <div class="col-12 mb-3">
                <span
                  >Adress: {{address.description}}, {{address.ward}},
                  {{address.district}}, {{address.city}}</span
                >
              </div>
              <div class="col-12 mb-3">
                <button
                  type="button"
                  class="btn btn-outline-primary d-inline"
                  data-bs-toggle="modal"
                  data-bs-target="#selectAddress"
                >
                  Select address
                </button>
                <button
                  type="button"
                  class="btn btn-outline-danger d-inline"
                  data-bs-toggle="modal"
                  data-bs-target="#newAddress"
                >
                  New address
                </button>
              </div>

              <div class="col-12 m3">
                <div class="form-check mb-3">
                  <p class="text-dark">Estimated delivery time: 3-7 (days)</p>
                  <p class="text-dark">Shipping carrier: <span>Fedex</span></p>
                </div>
              </div>
            </div>

            <div class="mb-3">
              <p class="mb-0">Message to seller</p>
              <div class="form-outline">
                <textarea
                  class="form-control"
                  id="textAreaExample1"
                  rows="2"
                  ng-model="description"
                ></textarea>
              </div>
            </div>

            <hr class="my-4" />

            <h5 class="card-title mb-3">Payment Methods</h5>

            <div class="row mb-3">
              <div class="col-lg-6 mb-3">
                <!-- Default checked radio -->
                <div class="form-check h-100 border rounded-3">
                  <div class="p-3">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="flexRadioDefault1"
                      id="flexRadioDefault1"
                      checked
                    />
                    <label class="form-check-label" for="flexRadioDefault1">
                      MoMo <br />
                      <small class="text-muted"
                        >Making online payments via MoMo
                      </small>
                    </label>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 mb-3">
                <!-- Default radio -->
                <div class="form-check h-100 border rounded-3">
                  <div class="p-3">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="flexRadioDefault1"
                      id="flexRadioDefault2"
                    />
                    <label class="form-check-label" for="flexRadioDefault2">
                      direct payment <br />
                      <small class="text-muted">
                        receive goods and payment</small
                      >
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Checkout -->
      </div>
      <div class="col-lg-3">
        <div class="card mb-3">
          <div class="card-body">
            <form>
              <div class="form-group">
                <div class="input-group">
                  <input
                    type="text"
                    class="form-control border"
                    name=""
                    ng-model="code"
                    placeholder="Coupon code"
                  />
                  <button ng-click="getVoucher()" class="btn btn-light border">
                    Apply
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="card mb-4 border shadow-0">
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <p class="mb-2">Total price:</p>
              <p class="mb-2">{{totalPrice}}.00đ</p>
            </div>
            <div class="d-flex justify-content-between">
              <p class="mb-2">Discount:</p>
              <p class="mb-2 text-success" ng-if="discountPrice != 0">
                -{{discountPrice.discountAmount}}.00đ
              </p>
            </div>
            <div class="d-flex justify-content-between">
              <p class="mb-2">TAX:</p>
              <p class="mb-2">{{calculateTax()}}.00đ</p>
            </div>
            <hr />
            <div class="d-flex justify-content-between">
              <p class="mb-2">Total price:</p>
              <p class="mb-2 fw-bold">{{calculateToTal()}}.00đ</p>
            </div>

            <div class="mt-3">
              <a
                class="btn btn-success w-100 shadow-0 mb-2"
                ng-click="addBill()"
              >
                Make Purchase
              </a>
              <a href="#" class="btn btn-light w-100 border mt-2">
                Back to shop
              </a>
            </div>

            <hr />
            <h6 class="text-dark my-4">Items in cart</h6>

            <div
              class="d-flex align-items-center mb-4"
              ng-repeat="detailCart in listDetailCarts"
            >
              <div class="me-3 position-relative">
                <span
                  class="position-absolute top-0 start-100 translate-middle badge rounded-pill badge-secondary"
                >
                  1
                </span>
                <img
                  src="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/7.webp"
                  style="height: 96px; width: 96x"
                  class="img-sm rounded border"
                />
              </div>
              <div class="">
                <a href="#" class="nav-link text-dark">
                  {{detailCart.nameProduct}}<br />
                </a>
                <div class="price text-muted">
                  {{detailCart.nameColor}}, {{detailCart.nameSize}}
                </div>
                <div class="price text-muted">
                  {{detailCart.price}}.00đ x{{detailCart.quantity}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- modal -->
<!-- select address -->
<div
  class="modal fade"
  id="selectAddress"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Select Address</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div ng-repeat="address in listAddress">
          <div class="card-body p-4">
            <div class="row d-flex justify-content-between align-items-center">
              <div class="col-md-6 col-lg-9 col-xl-9">
                <span class="fw-normal mb-2 fw-bold"
                  >{{address.description}}, {{address.ward}},
                  {{address.district}}, {{address.city}}</span
                >
              </div>
              <div class="col-md-4 col-lg-9 col-xl-3">
                <input
                  type="radio"
                  class="btn-check"
                  name="address"
                  value="{{address.idAddress}}"
                  ng-checked="$index == 0"
                  id="address{{address.idAddress}}"
                  ng-click="getAddress(address.idAddress)"
                  autocomplete="off"
                />
                <label
                  class="btn btn-outline-dark"
                  for="address{{address.idAddress}}"
                  >select</label
                >
              </div>
            </div>
          </div>
          <hr class="mx-n3" />
        </div>
      </div>
    </div>
  </div>
</div>
<!-- new address -->
<div
  class="modal fade"
  id="newAddress"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">New Address</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form>
          <!-- 3 column grid layout with text inputs for the first and last names -->
          <div class="row mb-4">
            <div class="col">
              <div class="form-outline">
                <label class="form-label" for="form3Example1">Provinces</label>
                <select
                  class="form-select"
                  ng-model="selectedProvinceId"
                  ng-change="onProvinceChange()"
                >
                  <option
                    selected
                    ng-repeat="provinces in Provinces"
                    value="{{provinces.code}}"
                  >
                    {{provinces.name}}
                  </option>
                </select>
              </div>
            </div>
            <div class="col">
              <div class="form-outline">
                <label class="form-label" for="form3Example1">District</label>
                <select
                  class="form-select"
                  ng-model="selectedDistrictId"
                  ng-change="onDistrictChange()"
                >
                  <option
                    ng-repeat="district in Districts"
                    value="{{district.code}}"
                  >
                    {{district.name}}
                  </option>
                </select>
              </div>
            </div>
            <div class="col">
              <div class="form-outline">
                <label class="form-label" for="form3Example2">Ward</label>
                <select class="form-select" ng-model="selectedWard">
                  <option ng-repeat="ward in Ward" value="{{ward}}" selected>
                    {{ ward.name}}
                  </option>
                </select>
              </div>
            </div>
          </div>

          <!-- descripton input -->
          <div class="form-outline mb-4">
            <label class="form-label" for="form3Example3">Description</label>
            <textarea
              class="form-control"
              id="exampleFormControlTextarea1"
              rows="3"
              ng-model="description"
            ></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary" ng-click="addAdress()">
          Save changes
        </button>
      </div>
    </div>
  </div>
</div>
