<section class="py-5 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-2 col-xl-2">
        <nav class="nav flex-lg-column w-100 d-flex nav-pills mb-4">
          <a class="nav-link my-0 bg-light" href="#customer-accout"
            ><p class="pb-0 mb-0" style="width: 100px">Account</p></a
          >
          <a class="nav-link active my-0" href="#customer-order"
            ><p class="pb-0 mb-0" style="width: 100px">Order History</p></a
          >
          <a class="nav-link my-0 bg-light" href="#customer-cart "
            ><p class="pb-0 mb-0" style="width: 100px">Cart</p></a
          >
          <a class="nav-link my-0 bg-light" href="#"
            ><p class="pb-0 mb-0" style="width: 100px">Logout</p></a
          >
        </nav>
      </div>
      <main class="col-lg-10 col-xl-10">
        <div class="card p-4 mb-0 shadow-0 border">
          <ul class="nav nav-tabs nav-justified mb-3" id="ex1" role="tablist">
            <li class="nav-item" role="presentation">
              <a
                class="nav-link md active"
                id="ex3-tab-1"
                data-mdb-toggle="tab"
                href="#ex3-tabs-1"
                role="tab"
                aria-controls="ex3-tabs-1"
                aria-selected="true"
                ng-click="getBill(1, 0)"
                >Wait for confirmation</a
              >
            </li>
            <li class="nav-item" role="presentation">
              <a
                class="nav-link md"
                id="ex3-tab-2"
                data-mdb-toggle="tab"
                href="#ex3-tabs-2"
                role="tab"
                aria-controls="ex3-tabs-2"
                aria-selected="false"
                ng-click="getBill(1, 1)"
                >confirm</a
              >
            </li>
            <li class="nav-item" role="presentation">
              <a
                class="nav-link md"
                id="ex3-tab-3"
                data-mdb-toggle="tab"
                href="#ex3-tabs-3"
                role="tab"
                aria-controls="ex3-tabs-3"
                aria-selected="false"
                ng-click="getBill(1, 2)"
                >delivery</a
              >
            </li>
            <li class="nav-item" role="presentation">
              <a
                class="nav-link md"
                id="ex3-tab-4"
                data-mdb-toggle="tab"
                href="#ex3-tabs-4"
                role="tab"
                aria-controls="ex3-tabs-4"
                aria-selected="false"
                ng-click="getBill(1, 3)"
                >received</a
              >
            </li>
            <li class="nav-item" role="presentation">
              <a
                class="nav-link md"
                id="ex3-tab-5"
                data-mdb-toggle="tab"
                href="#ex3-tabs-5"
                role="tab"
                aria-controls="ex3-tabs-5"
                aria-selected="false"
                ng-click="getBill(1, 4)"
                >complete</a
              >
            </li>
            <li class="nav-item" role="presentation">
              <a
                class="nav-link md"
                id="ex3-tab-6"
                data-mdb-toggle="tab"
                href="#ex3-tabs-3"
                role="tab"
                aria-controls="ex3-tabs-6"
                aria-selected="false"
                ng-click="getBill(1, 5)"
                >Cancel</a
              >
            </li>
          </ul>
          <!-- Tabs navs -->

          <!-- Tabs content -->
          <div class="tab-content" id="ex2-content">
            <div
              class="tab-pane fade show active"
              id="ex3-tabs-1"
              role="tabpanel"
              aria-labelledby="ex3-tab-1"
            >
              <table class="table align-middle mb-0 bg-white table-hover">
                <thead class="">
                  <tr>
                    <th>#</th>
                    <th>Code</th>
                    <th>Quantity</th>
                    <th>Total Price</th>
                    <th>Number Phone</th>
                    <th>Order Date</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    onclick="window.location='#detail-bill'"
                    ng-repeat="bill in listBill"
                  >
                    <td>
                      <p class="fw-normal mb-1">1</p>
                    </td>
                    <td>
                      <p class="fw-normal mb-1">{{bill.code}}</p>
                    </td>
                    <td>
                      <p class="fw-normal mb-1">{{bill.quantity}}</p>
                    </td>
                    <td>
                      <p class="fw-normal mb-1 text-danger">
                        {{bill.totalPrice}}.00đ
                      </p>
                    </td>

                    <td>
                      <p class="fw-normal mb-1">{{bill.phoneNumber}}</p>
                    </td>
                    <td>
                      <p class="fw-normal mb-1">{{bill.orderDate}}</p>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div
              class="tab-pane fade"
              id="ex3-tabs-2"
              role="tabpanel"
              aria-labelledby="ex3-tab-2"
            >
              <table class="table align-middle mb-0 bg-white table-hover">
                <thead class="">
                  <tr>
                    <th>#</th>
                    <th>Code</th>
                    <th>Quantity</th>
                    <th>Total Price</th>
                    <th>Number Phone</th>
                    <th>Order Date</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    onclick="window.location='#detail-bill'"
                    ng-repeat="bill in listBill"
                  >
                    <td>
                      <p class="fw-normal mb-1">1</p>
                    </td>
                    <td>
                      <p class="fw-normal mb-1">{{bill.code}}</p>
                    </td>
                    <td>
                      <p class="fw-normal mb-1">{{bill.quantity}}</p>
                    </td>
                    <td>
                      <p class="fw-normal mb-1 text-danger">
                        {{bill.totalPrice}}.00đ
                      </p>
                    </td>

                    <td>
                      <p class="fw-normal mb-1">{{bill.phoneNumber}}</p>
                    </td>
                    <td>
                      <p class="fw-normal mb-1">{{bill.orderDate}}</p>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div
              class="tab-pane fade"
              id="ex3-tabs-3"
              role="tabpanel"
              aria-labelledby="ex3-tab-3"
            >
              <table class="table align-middle mb-0 bg-white table-hover">
                <thead class="">
                  <tr>
                    <th>#</th>
                    <th>Code</th>
                    <th>Quantity</th>
                    <th>Total Price</th>
                    <th>Number Phone</th>
                    <th>Order Date</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    onclick="window.location='#detail-bill'"
                    ng-repeat="bill in listBill"
                  >
                    <td>
                      <p class="fw-normal mb-1">1</p>
                    </td>
                    <td>
                      <p class="fw-normal mb-1">{{bill.code}}</p>
                    </td>
                    <td>
                      <p class="fw-normal mb-1">{{bill.quantity}}</p>
                    </td>
                    <td>
                      <p class="fw-normal mb-1 text-danger">
                        {{bill.totalPrice}}.00đ
                      </p>
                    </td>

                    <td>
                      <p class="fw-normal mb-1">{{bill.phoneNumber}}</p>
                    </td>
                    <td>
                      <p class="fw-normal mb-1">{{bill.orderDate}}</p>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div
              class="tab-pane fade show"
              id="ex3-tabs-4"
              role="tabpanel"
              aria-labelledby="ex3-tab-4"
            >
              <table class="table align-middle mb-0 bg-white table-hover">
                <thead class="">
                  <tr>
                    <th>#</th>
                    <th>Code</th>
                    <th>Quantity</th>
                    <th>Total Price</th>
                    <th>Number Phone</th>
                    <th>Order Date</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    onclick="window.location='#detail-bill'"
                    ng-repeat="bill in listBill"
                  >
                    <td>
                      <p class="fw-normal mb-1">1</p>
                    </td>
                    <td>
                      <p class="fw-normal mb-1">{{bill.code}}</p>
                    </td>
                    <td>
                      <p class="fw-normal mb-1">{{bill.quantity}}</p>
                    </td>
                    <td>
                      <p class="fw-normal mb-1 text-danger">
                        {{bill.totalPrice}}.00đ
                      </p>
                    </td>

                    <td>
                      <p class="fw-normal mb-1">{{bill.phoneNumber}}</p>
                    </td>
                    <td>
                      <p class="fw-normal mb-1">{{bill.orderDate}}</p>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div
              class="tab-pane fade"
              id="ex3-tabs-5"
              role="tabpanel"
              aria-labelledby="ex3-tab-5"
            >
              <table class="table align-middle mb-0 bg-white table-hover">
                <thead class="">
                  <tr>
                    <th>#</th>
                    <th>Code</th>
                    <th>Quantity</th>
                    <th>Total Price</th>
                    <th>Number Phone</th>
                    <th>Order Date</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    onclick="window.location='#detail-bill'"
                    ng-repeat="bill in listBill"
                  >
                    <td>
                      <p class="fw-normal mb-1">1</p>
                    </td>
                    <td>
                      <p class="fw-normal mb-1">{{bill.code}}</p>
                    </td>
                    <td>
                      <p class="fw-normal mb-1">{{bill.quantity}}</p>
                    </td>
                    <td>
                      <p class="fw-normal mb-1 text-danger">
                        {{bill.totalPrice}}.00đ
                      </p>
                    </td>

                    <td>
                      <p class="fw-normal mb-1">{{bill.phoneNumber}}</p>
                    </td>
                    <td>
                      <p class="fw-normal mb-1">{{bill.orderDate}}</p>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div
              class="tab-pane fade"
              id="ex3-tabs-6"
              role="tabpanel"
              aria-labelledby="ex3-tab-6"
            >
              <table class="table align-middle mb-0 bg-white table-hover">
                <thead class="">
                  <tr>
                    <th>#</th>
                    <th>Code</th>
                    <th>Quantity</th>
                    <th>Total Price</th>
                    <th>Number Phone</th>
                    <th>Order Date</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    onclick="window.location='#detail-bill'"
                    ng-repeat="bill in listBill"
                  >
                    <td>
                      <p class="fw-normal mb-1">1</p>
                    </td>
                    <td>
                      <p class="fw-normal mb-1">{{bill.code}}</p>
                    </td>
                    <td>
                      <p class="fw-normal mb-1">{{bill.quantity}}</p>
                    </td>
                    <td>
                      <p class="fw-normal mb-1 text-danger">
                        {{bill.totalPrice}}.00đ
                      </p>
                    </td>

                    <td>
                      <p class="fw-normal mb-1">{{bill.phoneNumber}}</p>
                    </td>
                    <td>
                      <p class="fw-normal mb-1">{{bill.orderDate}}</p>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
</section>
<link rel="stylesheet" href="/user/css/plugin/mdb.min.css" />
<!-- <script type="text/javascript" src="/user/js/plugin/mdb.min.js"></script> -->
<script src="/user/js/custom/customer-order-history.js"></script>
