<section class="py-5 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-2 col-xl-2">
        <nav class="nav flex-lg-column w-100 d-flex nav-pills mb-4">
          <a class="nav-link active my-0" href="#customer-accout"
            ><p class="pb-0 mb-0" style="width: 100px">Account</p></a
          >
          <a class="nav-link my-0 bg-light" href="#customer-order "
            ><p class="pb-0 mb-0" style="width: 100px">Order History</p></a
          >
          <a class="nav-link my-0 bg-light" href="#customer-cart/{{IdCart.id}}"
            ><p class="pb-0 mb-0" style="width: 100px">Cart</p></a
          >
          <a class="nav-link my-0 bg-light" href="#"
            ><p class="pb-0 mb-0" style="width: 100px">Logout</p></a
          >
        </nav>
      </div>
      <main class="col-lg-10 col-xl-10">
        <div class="card p-4 mb-0 shadow-0 border">
          <div class="content-body">
            <div class="d-flex align-items-center">
              <div class="me-3"></div>
              <div class="pt-2">
                <h6 class="pt-2">
                  Name: {{customer.lastName}} {{customer.firstName}}
                </h6>
                <p>username: {{customer.userName}}</p>
                <p>
                  email: {{customer.email}}, phone:
                  (+84){{customer.phoneNumber}}
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <a
                  href="#"
                  class="btn btn-light border"
                  data-bs-toggle="modal"
                  data-bs-target="#editInfor"
                  ng-click="getInfor()"
                >
                  <i class="bi bi-pencil-square"></i>
                  edit Information
                </a>
                <a
                  href="#"
                  class="btn btn-light border"
                  data-bs-toggle="modal"
                  data-bs-target="#changePassword"
                >
                  <i class="bi bi-gear-wide-connected"></i> Change Password
                </a>
              </div>
            </div>
            <hr />

            <div class="row g-2 mb-3">
              <div class="col-md-6" ng-repeat="address in listAddress">
                <div class="border p-3 rounded-3 bg-light">
                  {{address.description}}, {{address.ward}},
                  {{address.district}}, {{address.city}}
                  <b class="mx-2 text-muted"
                    ><i
                      class="bi bi-trash-fill btn text-danger"
                      ng-click="deleteAddress(address.idAddress)"
                    ></i>
                    <a
                      href="#"
                      class="btn"
                      data-bs-toggle="modal"
                      data-bs-target="#editAddress"
                    >
                      <i class="bi bi-pencil-square"></i> Edit address
                    </a></b
                  >
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-6">
                <a
                  href="#"
                  class="btn btn-light border"
                  data-bs-toggle="modal"
                  data-bs-target="#newAddress"
                >
                  <i class="bi bi-journal-plus"></i> Add new address
                </a>
              </div>
            </div>

            <hr class="my-4" />
          </div>
        </div>
      </main>
    </div>
  </div>
</section>
<link rel="stylesheet" href="/user/css/plugin/mdb.min.css" />
<!-- new address -->
<div
  class="modal fade"
  id="newAddress"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">New Address</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form>
          <!-- 3 column grid layout with text inputs for the first and last names -->
          <div class="row mb-4">
            <div class="col">
              <div class="form-outline">
                <label class="form-label" for="form3Example1">Provinces</label>
                <select
                  class="form-select"
                  ng-model="selectedProvinceId"
                  ng-change="onProvinceChange()"
                >
                  <option
                    selected
                    ng-repeat="provinces in Provinces"
                    value="{{provinces}}"
                  >
                    {{provinces.name}}
                  </option>
                </select>
              </div>
            </div>
            <div class="col">
              <div class="form-outline">
                <label class="form-label" for="form3Example1">District</label>
                <select
                  class="form-select"
                  ng-model="selectedDistrictId"
                  ng-change="onDistrictChange()"
                >
                  <option
                    ng-repeat="district in Districts"
                    value="{{district}}"
                  >
                    {{district.name}}
                  </option>
                </select>
              </div>
            </div>
            <div class="col">
              <div class="form-outline">
                <label class="form-label" for="form3Example2">Ward</label>
                <select class="form-select" ng-model="selectedWardId">
                  <option ng-repeat="ward in Ward" value="{{ward}}" selected>
                    {{ ward.name}}
                  </option>
                </select>
              </div>
            </div>
          </div>

          <!-- descripton input -->
          <div class="form mb-4">
            <label class="form-label" for="form3Example3">Description</label>
            <textarea
              ng-model="description"
              class="form-control"
              id="exampleFormControlTextarea1"
              rows="3"
            ></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary" ng-click="addAdress()">
          Save changes
        </button>
      </div>
    </div>
  </div>
</div>
<!-- edit address -->
<div
  class="modal fade"
  id="editAddress"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Address</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form>
          <!-- 3 column grid layout with text inputs for the first and last names -->
          <div class="row mb-4">
            <div class="col">
              <div class="form-outline">
                <label class="form-label" for="form3Example1">Provinces</label>
                <select
                  class="form-select"
                  ng-model="selectedProvinceId"
                  ng-change="onProvinceChange()"
                >
                  <option
                    selected
                    ng-repeat="provinces in Provinces"
                    value="{{provinces.code}}"
                  >
                    {{provinces.name}}
                  </option>
                </select>
              </div>
            </div>
            <div class="col">
              <div class="form-outline">
                <label class="form-label" for="form3Example1">District</label>
                <select
                  class="form-select"
                  ng-model="selectedDistrictId"
                  ng-change="onDistrictChange()"
                >
                  <option
                    ng-repeat="district in Districts"
                    value="{{district.code}}"
                  >
                    {{district.name}}
                  </option>
                </select>
              </div>
            </div>
            <div class="col">
              <div class="form-outline">
                <label class="form-label" for="form3Example2">Ward</label>
                <select class="form-select" ng-model="selectedWard">
                  <option ng-repeat="ward in Ward" value="{{ward}}" selected>
                    {{ ward.name}}
                  </option>
                </select>
              </div>
            </div>
          </div>

          <!-- descripton input -->
          <div class="form mb-4">
            <label class="form-label" for="form3Example3">Description</label>
            <textarea
              class="form-control"
              id="exampleFormControlTextarea1"
              rows="3"
            ></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary" ng-click="addAdress()">
          Save changes
        </button>
      </div>
    </div>
  </div>
</div>
<!-- edit information -->
<div
  class="modal fade"
  id="editInfor"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">
          Edit Information
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form>
          <!-- 3 column grid layout with text inputs for the first and last names -->
          <div class="row mb-4">
            <div class="col">
              <div class="mb-3 row">
                <label for="staticEmail" class="col-sm-2 col-form-label"
                  >First name</label
                >
                <div class="col-sm-10">
                  <input
                    type="text"
                    class="form-control"
                    id="staticEmail"
                    ng-model="formCustomer.firstName"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="row mb-4">
            <div class="col">
              <div class="mb-3 row">
                <label for="staticEmail" class="col-sm-2 col-form-label"
                  >Last name</label
                >
                <div class="col-sm-10">
                  <input
                    type="text"
                    class="form-control"
                    id="staticEmail"
                    ng-model="formCustomer.lastName"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="row mb-4">
            <div class="col">
              <div class="mb-3 row">
                <label for="staticEmail" class="col-sm-2 col-form-label"
                  >Email</label
                >
                <div class="col-sm-10">
                  <input
                    type="email"
                    class="form-control"
                    id="staticEmail"
                    ng-model="formCustomer.email"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="row mb-4">
            <div class="col">
              <div class="mb-3 row">
                <label for="staticEmail" class="col-sm-2 col-form-label"
                  >Phone</label
                >
                <div class="col-sm-10">
                  <input
                    type="tel"
                    class="form-control"
                    id="staticEmail"
                    ng-model="formCustomer.phoneNumber"
                  />
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary" ng-click="editInfor()">
          Save changes
        </button>
      </div>
    </div>
  </div>
</div>
<!-- edit password -->
<div
  class="modal fade"
  id="changePassword"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Change Password</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form>
          <!-- 3 column grid layout with text inputs for the first and last names -->
          <div class="row mb-4">
            <div class="col">
              <div class="mb-3 row">
                <label for="staticEmail" class="col-sm-2 col-form-label"
                  >Old password</label
                >
                <div class="col-sm-10">
                  <input
                    type="password"
                    class="form-control"
                    id="staticEmail"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="row mb-4">
            <div class="col">
              <div class="mb-3 row">
                <label for="staticEmail" class="col-sm-2 col-form-label"
                  >New password</label
                >
                <div class="col-sm-10">
                  <input
                    type="password"
                    class="form-control"
                    id="staticEmail"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="row mb-4">
            <div class="col">
              <div class="mb-3 row">
                <label for="staticEmail" class="col-sm-2 col-form-label"
                  >Confirm password</label
                >
                <div class="col-sm-10">
                  <input
                    type="password"
                    class="form-control"
                    id="staticEmail"
                  />
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary" ng-click="addAdress()">
          Save changes
        </button>
      </div>
    </div>
  </div>
</div>
