<nav
  class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"
></nav>
<div class="container">
  <div class="row">
    <div class="col-lg-12 mb-4">
      <!-- Checkout -->
      <div class="card shadow-0 border">
        <div class="p-4">
          <h5 class="card-title mb-3">Payment Methods</h5>
          <hr class="my-4" />

          <div
            class="scroll-horizontal"
            style="overflow-x: auto; white-space: nowrap"
          >
            <!-- Nội dung cần cuộn ngang -->
            <div
              id="progress"
              class="progress"
              role="progressbar"
              aria-label="Example with label"
              aria-valuemin=""
              aria-valuemax="100"
              style="height: 40px"
            >
              <div
                class="progress-bar"
                ng-class="{
              'badge-primary': bill.status === 1,
              'bg-info': bill.status === 2,
              'bg-success': bill.status === 3,
              'bg-danger': bill.status === 4
            }"
                style="width: {{ bill.status * 25 }}%"
              >
                <i class="bi bi-box-seam" ng-if="bill.status == 1">
                  <span>prepare</span>
                </i>
                <i class="bi bi-send" ng-if="bill.status == 2">
                  <span>delivering</span>
                </i>
                <i class="bi bi-patch-check" ng-if="bill.status == 3"
                  ><span>Succcess</span></i
                >
                <i class="bi bi-send-fill" ng-if="bill.status == 2"></i>
                <i class="bi bi-arrow-repeat" ng-if="bill.status == 4">
                  <span>cancel</span></i
                >
              </div>
            </div>
            <hr class="my-4" />

            <button
              type="button"
              class="btn btn-danger"
              ng-if="bill.status == 0 || bill.status == 1 || bill.status == 3"
              ng-click="cancelBill(bill.id)"
            >
              Cancel
            </button>
          </div>
        </div>
      </div>
    </div>
    <!--  order information -->
    <div class="col-lg-12 mb-4">
      <div class="card shadow-0 border">
        <div class="p-4">
          <h5 class="card-title fw-bold mb-3">Order Information</h5>

          <hr class="my-4" />
          <div class="row">
            <div class="col-xs-12 col-xl-6">
              <p class="card-title text-dark">
                Status:
                <span
                  class="btn btn-warning rounded-pill d-inline"
                  ng-if="bill.status == 0"
                  >Wait for confirmation</span
                >
                <span
                  class="btn btn-success rounded-pill d-inline"
                  ng-if="bill.status == 2"
                  >Succes</span
                >
                <span
                  class="btn btn-success rounded-pill d-inline"
                  ng-if="bill.status == 3"
                  >Received</span
                >
                <span
                  class="btn btn-primary rounded-pill d-inline"
                  ng-if="bill.status == 1"
                  >Prepare</span
                >
                <span
                  class="btn btn-danger rounded-pill d-inline"
                  ng-if="bill.status == 4"
                  >Cancel</span
                >
              </p>
              <p class="card-title text-dark">Code: {{bill.code}}</p>
              <p class="card-title text-dark">
                Name:{{customer.lastName + customer.firstName}}
              </p>
            </div>
            <div class="col-xs-12 col-xl-6">
              <p class="card-title text-dark">
                Phone Number: (+84){{bill.phoneNumber}}
              </p>
              <p class="card-title text-dark">Email: {{customer.email}}</p>
              <p class="card-title text-dark">Addess: {{bill.address}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- payment date  -->
    <div class="col-lg-12 mb-4">
      <!-- Checkout -->
      <div class="card shadow-0 border">
        <div class="p-4">
          <h5 class="card-title fw-bold mb-3">Payment History</h5>

          <hr class="my-4" />
          <p class="card-title">Payment Date: {{bill.paymentDate}}</p>
        </div>
      </div>
    </div>
    <!-- product -->
    <div class="col-lg-12 mb-3">
      <div class="card shadow-0 border">
        <div class="p-4">
          <div class="row mb-3">
            <div class="card border-0" ng-repeat="detailPr in listDetailBill">
              <div class="m-4">
                <div class="row gy-3 mb-4">
                  <div class="col-lg-5">
                    <div class="me-lg-5">
                      <div class="d-flex">
                        <img
                          src="/user/img/product/product-1.jpg"
                          class="border rounded me-3"
                          style="width: 96px; height: 96px"
                        />
                        <div class="">
                          {{detailPr.nameProduct}}
                          <p class="text-muted">
                            Color: {{detailPr.nameColor}}
                          </p>
                          <p class="text-muted">Size: {{detailPr.nameSize}}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    class="col-lg-5 col-sm-6 col-6 d-flex flex-row flex-lg-column flex-xl-row text-nowrap justify-content-center align-items-center"
                  >
                    <div class="">
                      <text class="h6 text-danger"
                        >{{detailPr.price}}.00đ
                      </text>
                      x({{detailPr.quantity}})
                      <br />
                    </div>
                  </div>

                  <div
                    class="col-lg-2 col-sm-6 col-6 d-flex flex-row flex-lg-column flex-xl-row text-nowrap justify-content-center align-items-center"
                  >
                    <div class="float-md-end text-success">
                      {{detailPr.price * detailPr.quantity}}.00đ
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <hr class="my-4" />

          <div class="row">
            <div class="card border-0">
              <div class="card-body">
                <div class="d-flex justify-content-between">
                  <p class="mb-2">Price:</p>
                  <p id="totalPrice" class="mb-2">{{price}}.00đ</p>
                </div>
                <div class="d-flex justify-content-between">
                  <p class="mb-2">Discount:</p>
                  <p class="mb-2 text-success" ng-if="voucher">
                    -{{voucher.discountAmount}}.00đ
                  </p>
                </div>
                <hr />
                <div class="d-flex justify-content-between">
                  <p class="mb-2">Total price:</p>
                  <p class="mb-2 fw-bold text-danger">{{totalPrice}}.00đ</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
