<!-- navbar -->
<section class="shop">
  <section class="breadcum-custom">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Shop</a></li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </section>
  <section class="body">
    <div class="container">
      <div class="row">
        <div class="col-3">
          <div class="row">
            <div class="col-12">
              <div class="body-left-all">
                <h2>SHOP NAVIGATION</h2>
                <a href="#"><span class="ng-binding">ALL Product</span></a>
              </div>
            </div>
            <div class="col-12">
              <div class="body-left-category">
                <h4>Category</h4>
                <select
                  class="form-select border-0"
                  aria-label="Default select example"
                >
                  <option selected>Open this select menu</option>
                  <option value="1" ng-repeat="category in listCategory">
                    {{category.name}}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-12">
              <div class="body-left-brand">
                <h4>Brand</h4>
                <select
                  class="form-select border-0"
                  aria-label="Default select example"
                >
                  <option selected>Open this select menu</option>
                  <option value="1" ng-repeat="brand in listBrand">
                    {{brand.name}}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-12">
              <div class="body-left-color">
                <h4>Color</h4>
                <div class="body-left-size-item d-inline">
                  <input
                    type="radio"
                    class="btn-check"
                    name="color"
                    id="color"
                    autocomplete="off"
                    checked
                  />
                  <label class="btn btn-outline-dark" for="color">ALL</label>
                </div>
                <div
                  class="body-left-size-item d-inline"
                  ng-repeat="color in listColor"
                >
                  <input
                    type="radio"
                    class="btn-check"
                    name="color"
                    id="color{{color.id}}"
                    autocomplete="off"
                  />
                  <label class="btn btn-outline-dark" for="color{{color.id}}"
                    >{{color.name}}</label
                  >
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="body-left-size">
                <h4>Size</h4>
                <div class="body-left-size-item d-inline">
                  <input
                    type="radio"
                    class="btn-check"
                    name="size"
                    id="size"
                    autocomplete="off"
                    checked
                  />
                  <label class="btn btn-outline-dark" for="size">ALL</label>
                </div>
                <div
                  class="body-left-size-item d-inline"
                  ng-repeat="size in listSize"
                >
                  <input
                    type="radio"
                    class="btn-check"
                    name="size"
                    id="size{{size.id}}"
                    autocomplete="off"
                  />
                  <label class="btn btn-outline-dark" for="size{{size.id}}"
                    >{{size.name}}</label
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-9">
          <div class="body-right-top">
            <h2>PRODUCT</h2>
          </div>

          <div class="body-right-container">
            <div class="row">
              <div
                class="col-md-12 col-lg-4 mb-4 mb-lg-0"
                ng-repeat="pr in listProduct"
              >
                <a
                  href="#detail-product/{{pr.id}}"
                  style="text-decoration: none"
                >
                  <div class="card rounded-lg-10">
                    <img
                      src="/user/img/product/product-1.jpg"
                      class="card-img-top"
                      alt=""
                    />
                    <div class="card-body">
                      <div class="d-flex justify-content-between"></div>

                      <div class="d-flex justify-content-between mb-3">
                        <h5 class="mb-0 text-dark">{{pr.name}}</h5>
                      </div>

                      <div class="d-flex justify-content-between mb-2">
                        <p class="text-muted mb-0"></p>
                        <h5 class="text-danger mb-0">{{pr.sellPrice}}.00đ</h5>
                      </div>

                      <!--  -->
                      <div class="d-flex justify-content-between mb-2">
                        <p class="text-muted mb-0"></p>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <nav aria-label="Page navigation example">
              <ul class="pagination justify-content-end">
                <li class="page-item">
                  <a class="page-link text-dark" href="#">Previous</a>
                </li>
                <li class="page-item">
                  <a class="page-link text-dark" href="#">1</a>
                </li>
                <li class="page-item">
                  <a class="page-link text-dark" href="#">2</a>
                </li>
                <li class="page-item">
                  <a class="page-link text-dark" href="#">3</a>
                </li>
                <li class="page-item">
                  <a class="page-link text-dark" href="#">Next</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
